.PasswordInput {

}
.PasswordInput input, .PasswordInput button{
    height:30px;
    border-radius: 3px;
    padding:5px;
    box-shadow: none;
    border:1px solid #aaa;
    margin:10px;
    width:300px;
    max-width: 70%;
    font-size:14px;
    background-color:#fff;
}
.PasswordInput button {
    width:100px;
}

.PasswordInput button:hover {
    font-weight: bold;
    cursor: pointer;
}